[submodule "static/_resources/js/htmx"]
	path = static/_resources/js/htmx
	url = https://github.com/bigskysoftware/htmx
[submodule "static/_resources/bootstrap"]
	path = static/_resources/bootstrap
	url = https://github.com/twbs/bootstrap.git
