<!-- kate: space-indent on; tab-width 4; indent-width 4; mixed-indent off; replace-tabs on; indent-mode xml;-->


<!--sebastiany.net::Body1::Start-->
</head>
<body>
<!--sebastiany.net::Body1::End-->
<!--sebastiany.net::Content::Start-->

    {CONTENT}

<!--sebastiany.net::Content::End-->
<!--sebastiany.net::Body2::Start-->
{SCHEMAORG}
{ENDSCRIPTS}
{INLINEJS}
</body>
</html><!--sebastiany.net::Body2::End-->
<!--sebastiany.net::Page404::Start-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--sebastiany.net::Page404::End-->
